@media(max-width:1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }

    nav a{
        font-size: 17px;
    }
}

@media(max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a{
        font-size: 20px;
    }

    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    
    nav ul.show{
        left: 0;
    }

    .content{
        text-align: center;
    }
    
    .content h1{
        font-size: 50px;
        color: #fff;
        font-weight: 500;
        transition: 0.5s;
        padding-top: 83px;
    }
    .content h1:hover{
        -webkit-text-stroke: 2px #fff;
        color: transparent;
    }
    .content p{
        color: #fff;
        font-size: 12px;
        justify-content: center;
        padding-top: 20px;
        padding-left: 90px;
        padding-right: 90px;
        text-transform: uppercase;
    }
    .content a{
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 15px;
        border: 2px solid #fff;
        padding: 10px 19px;
        border-radius: 50px;
        margin-top: 20px;
        text-align: center;
    }
    .back-video{
        display: none;
    }
    .verticalbg{
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-attachment: fixed;
    }


}